body{
    background-color: rgb(0, 0, 0); height: 125vh;
    padding: 5px;
}


/* Home page styling */
#inh{
    background-color:#c40202;             /*medibot header */
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font: weight 450px;;
    font-style: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 1;
    width:auto;
    border-radius: 10px;
}        
#container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.iimg{                   /*BAYMAX IMAGE*/
    height: 225px;
    border-radius:10%;
    border: 25px solid#ffffff;
    text-align: center;
    gap: 20px;
}
.iimg:hover{
    transform: scale(1.07);
    transition-duration: 0.35s;
    box-shadow: 1px 1.5px 2.5px rgb(177, 171, 171);
}
.item p{
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}

/* Navigation bar */ /*@@@@@@@@@@@@*/
header img {    
    height: 5 px;
    max-width: 400px;
    margin-left: 425px;
  }
  header * {
    display: flex;
    flex-wrap: wrap;
  }
  

/*+++++++ Style the header with a grey background and some padding */
.header {
  overflow: hidden;                    /*HEADER BAR */
  background-color: #000000;
  padding: 20px 10px;
}

/* Style the header links */
.header a {                            /*COMPANY LOGO*/
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #bf0000;
  color: rgb(255, 255, 255);
}

/* Style the active/current link*/
.header a.active {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
